.blog-post {
    h1 {
        @apply pb-2;
    }
    .blog-content {
        @apply pt-10;

        h2 {
            @apply pt-3;
        }
        p {
            @apply pb-3;
        }
        ul {
            @apply list-disc;
            @apply pl-8;
            @apply pb-3;
        }
        blockquote {
            background: #f9f9f9;
            border-left: 10px solid #ccc;
            margin: 0.5em 10px 1em;
            padding: 0.5em 10px;

            p {
                @apply pb-0;
            }
        }
    }
}
