.component-set-view-toggle {
    a {
        span {
            --fa-border-color: black;
            --fa-border-padding: 8px 4px 12px;
        }
    }
    a.active {
        span {
            color: black;
        }
    }
}
