.component-set-view-toggle {
    padding-top: 8px;

    a {
        span {
            color: #ccc;
            --fa-border-color: #ccc;
            --fa-border-padding: 8px 4px 12px;
        }
    }

    a.active {
        span {
            color: #427aa1;
            --fa-border-color: #427aa1;
        }
    }
}
