// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Page specific files
@import "blog";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
        font-weight: bold;
    }
    h2 {
        @apply text-3xl;
        margin-bottom: 20px;
        font-weight: bold;
    }
    a {
        color: #427aa1;
        &:hover {
            color: #4078b5;
        }
    }
}
