// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@use "variables" as *;

// Page specific files
@use "header" as *;
@use "blog" as *;

// Component styles
@use "component-set-view-toggle" as *;

// Bootstrap
@use "~bootstrap/scss/bootstrap" as *;

// Font-Awesome
$fa-font-path: "../webfonts";
@use "~@fortawesome/fontawesome-free/scss/fontawesome" as *;
@use "~@fortawesome/fontawesome-free/scss/regular" as *;
@use "~@fortawesome/fontawesome-free/scss/solid" as *;
@use "~@fortawesome/fontawesome-free/scss/brands" as *;

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
        font-weight: bold;
    }
    h2 {
        @apply text-3xl;
        margin-bottom: 20px;
        font-weight: bold;
    }
    h3 {
        @apply text-2xl;
        font-weight: bold;
    }
    a {
        color: #427aa1;
        &:hover {
            color: #4078b5;
        }
    }
}
